.img {
    width: 100%;
    display: none
}

body {
    background-image: url(../img/fondoIntro.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.play {
    position: relative;
    top: 700px;
    left: 1200px;
    background-color: orange;
    font-size: 100px;
    padding: 30px;
    border-radius: 10%;
    color: white;
    padding-left: 70px;
    padding-right: 70px;
}